<div class="footer-container">
	<div class="footer-section">
		<div class="footer-slider">
			<ul class="slides">
				<li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Richmond Hill</span><br>
						10520 Yonge St.<br>
						Richmond Hill, ON<br>
						L4C 3C7</p>
				</li>
				<li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Markham</span><br>
						9255 Woodbine Ave., Unit #11<br>
						Markham, ON<br>
						L6C 1Y9</p>
				</li>
				<li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Vaughan</span><br>
						3130 Rutherford Rd.<br>
						Vaughan, ON<br>
						L4K 0B1</p>
				</li>
				<!-- <li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Newmarket</span><br>
						17175 Yonge St.<br>
						Newmarket, ON<br>
						L3Y 5L8</p>
				</li> -->
				<!-- <li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Kitchener</span><br>
						446 Highland Rd. W<br>
						Kitchener, ON<br>
						N2M 3C6</p>
				</li> -->
				<li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Scarborough</span><br>
						1245 McCowan Rd., Unit #1<br>
						Scarborough, ON<br>
						M1H 3K3</p>
				</li>
				<li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Mississauga</span><br>
						6465 Millcreek Dr.<br>
						Mississauga, ON<br>
						L5N 5R3</p>
				</li>
					<li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Square One</span><br>
						4096 Confederation Parkway<br>
						Mississauga, ON<br>
						L5B 0G4</p>
				</li>
				<li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Danforth</span><br>
						424–426 Danforth Avenue<br>
						Toronto, ON<br>
						M4K 1P3</p>
				</li>
				<li>
					<p><span style="color:#fff;">AllStar Wings &amp; Ribs - Pickering</span><br>
						1899 Brock Rd. Building L<br>
						Pickering, ON<br>
						L1V 4H7</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-section">
		<a href="employment.php">
			<div class="star-button" style="margin-top:25px;">
				Employment Opportunities
			</div>
		</a>
	</div>
	<div class="footer-section">
		<a href="community.php">
			<div class="star-button" style="margin-top:25px;">
				Community
			</div>
		</a>
	</div>
	<div class="footer-section">
		<p style="margin-bottom:10px;">Copyright <span id="date"></span> AllStar Wings &amp; Ribs&#8482;</p>
		<a href="http://www.unoapp.com" target="_blank">
			<img src="./img/unoapp-logo.png" alt="UNOapp" style="float:right;">
		</a>
		<a href="http://www.menupalace.com" target="_blank">
			<img src="./img/mp-logo.png" alt="Menu Palace" style="float:right;margin-right:13px;width:115px;margin-top:5px;">
		</a>
	</div>
</div>
<script>
	var d = new Date();
	var n = d.getFullYear();
	document.getElementById("date").innerHTML = n;
</script>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">
	try {
	_uacct = "UA-2728765-17";
	urchinTracker();
	} catch(err) {}
</script>