<div class="header-container">
	<div class="banner">
		<div class="logo">
			<a href="index.php">
				<img src="./img/logo.png" alt="All Star Logo" style="width:310px;position:relative;top:15px;left:10px;">
			</a>
		</div>
		<img src="./img/rotating/rotating-img1.jpg" alt="Rotating 1" style="width:100%;">
	</div>
	<div class="navigation">
		<ul>
			<li><a href="index.php" class="home">Home</a></li>
			<li><a href="locations.php" class="locations">Locations</a></li>
			<li><a href="lunch.php" class="menus">Menus</a></li>
			<li><a href="reviews.php" class="reviews">Reviews</a></li>
			<li><a href="events.php" class="events" style="padding-left:11px;">Contests/Promos</a></li>
			<li><a href="about-us.php" class="franchise">Franchise Info</a></li>
			<li><a href="contact.php" class="contact">Contact</a></li>
			<li><a href="allin-newsletter.php" class="employment">All In Club</a></li>
			<li><a href="catering.php" class="catering">Catering</a></li>
			<li><a href="merchandise.php" class="merchandise">Merchandise</a></li>
			<li><a href="gallery.php" class="gallery">Gallery</a></li>
		</ul>
	</div>
	<div class="navigation-bg">
		<img src="./img/nav-bg.png">
	</div>
</div>