<div class="left-navigation">
	<ul>
		<li><a href="appetizers.php" class="appetizers">Appetizers</a></li>
		<li><a href="idaho.php" class="idaho">Way to Go Idaho</a></li>
		<li><a href="salads.php" class="salads">Salads</a></li>
		<li><a href="sandwiches.php" class="sandwiches">Sandwiches</a></li>
		<li><a href="hotdogs.php" class="dogs">Nathan's Famous Hot Dogs</a></li>
		<li><a href="beefsteaks.php" class="beef">Certified Angus Beef Steaks</a></li>
		<li><a href="ribs.php" class="ribs">Ribs &amp; Combos</a></li>
		<li><a href="wings.php" class="wings">Your AllStar Wings</a></li>
		<li><a href="junior.php" class="junior">jr. AllStar Menu</a></li>
		<li><a href="beverages.php" class="beverages">Beverages</a></li>
		<li><a href="bar.php" class="bar">Bar Menu</a></li>
	</ul>
</div>