<div class="social-media">
	<a href="http://www.youtube.com" target="_blank">
		<img src="./img/social/icon-youtube.png" class="social-icon">
	</a>
	<a href="https://www.instagram.com/allstarwingsandribsofficial/" target="_blank">
		<img src="./img/social/icon-instagram.png" class="social-icon">
	</a>
	<a href="https://twitter.com/Allstarwings" target="_blank">
		<img src="./img/social/icon-twitter.png" class="social-icon">
	</a>
	<a href="https://www.facebook.com/pages/AllStar-Wings-Ribs-TM/290726309937" target="_blank">
		<img src="./img/social/icon-facebook.png" class="social-icon">
	</a>
	<div class="twitter-feed">
		<iframe frameborder="0" scrolling="no" src="http://unoapp.com/28974" width="390" height="31"></iframe>
	</div>
</div>